body {
    background-color: #001301;
    font-size: 3dvw;
    width: 100dvw;
    font-family: "Inter";
    font-weight: 400;
}

img {
    width: 100%;
    height:100%;
}

p, a {
    display: inline-block;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.icon_link {
    display: flex;
    align-items: center;
}

.icon_link_text {
    margin-left: 5px;
}

.link {
    color: #FF0000;
    font-weight: 700;
}

.info_img {
    position: relative;
}

.info_block {
    box-sizing: border-box;
    background-color: hsl(60, 32%, 90%, 0.7);
    border: solid 3px #fff;
    border-radius: 26px;
    padding:10px;
    max-width: 50dvw;
    min-height: 75px;
    position: absolute;
    top: 15px;
}
.left {
    left: 5px;        
}
.right {
    right: 5px;
    padding: 20px 10px;
}

.margin_bottom {
    margin-bottom: 40px;
}

.loader {
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 999;
    background-color: #00D5FF;
    width: 100dvw;
    height: 100%;
    animation: enlarge 5s infinite;
    animation-duration: 5s;
    transform-origin: bottom;
}
  
@keyframes enlarge {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(2);
    }
}

.darkscreen {
    display: block;
    position: fixed;
    bottom: 0;
    left:0;
    top: 0;
    z-index: 9999;
    background-color: #000000;
    opacity: 0;
    width: 100dvw;
    height: 100dvh;
    animation: opacity_change 5s infinite;
    animation-duration: 5s;
}

@keyframes opacity_change {
    0%{
        opacit:0;
    }
    50% {
        opacity:0.3;
    }
    100% {
        opacity:1;
    }
}

#loader {
    height: 100dhw;
    width: 100%;
}

.inaktive {
    opacity: 0;
    display: none;
}

.loader.aktive {
    opacity: 1;
}



@media screen and (max-width: 600px) {
    .images, .loader_images {
        min-width: 320px;
        max-width: 600px;
    }

    .icon {
        width: 50px;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    body {
        font-size: 3.3dvw;
    }

    header {
        padding: 15px;
    }

    .icon_link_text {
        margin-left: 10px;
    }

    .info_block {
        border-width: 3px;
        border-radius: 40px;
        padding:15px;
        min-height: 100px;
        top: 15px;
    }

    .margin_bottom {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 801px) and (max-width:1050px) {
    body {
        font-size: 3.4dvw;
    }

    header {
        padding: 17px;
    }

    .icon_link_text {
        margin-left: 12px;
    }

    .info_block {
        border-width: 4px;
        border-radius: 52px;
        padding:15px;
        min-height: 240px;
        top: 15px;
    }

    .margin_bottom {
        margin-bottom: 45px;
    }
    .right {
        right: 10px;
    }

    .left {
        left: 10px;
    }
}
 
@media screen and (min-width: 1051px) and (max-width:1200px) {
    body {
        font-size: 3.5dvw;
    }

    header {
        padding: 20px;
    }

    .icon_link_text {
        margin-left: 17px;
    }

    .info_block {
        border-width: 4.5px;
        border-radius: 75px;
        padding:17px;
        min-height: 260px;
        top: 15px;
    }

    .margin_bottom {
        margin-bottom: 45px;
    }
    .right {
        right: 13px;
    }
    .left {
        left: 13px;
    }
}

@media screen and (min-width: 1201px) and (max-width:1500px) {
    body {
        font-size: 3.6dvw;
    }

    header {
        padding: 17px;
    }

    .icon_link_text {
        margin-left: 12px;
    }

    .info_block {
        border-width: 4px;
        border-radius: 52px;
        padding:15px;
        min-height: 240px;
        top: 15px;
    }

    .margin_bottom {
        margin-bottom: 50px;
    }
    .right {
        right: 15px;
    }
    .left {
        left: 15px;
    }
}

@media screen and (min-width: 1501px) {
    body {
        font-size: 3.7dvw;
    }

    header {
        padding: 17px;
    }

    .icon_link_text {
        margin-left: 12px;
    }

    .info_block {
        border-width: 4px;
        border-radius: 52px;
        padding:15px;
        min-height: 240px;
        top: 15px;
    }

    .margin_bottom {
        margin-bottom: 55px;
    }
    .right {
        right: 20px;
        top: 30px;
    }
}

